/* ===================================================
General
=====================================================*/
.row {
    margin: 0 0;
}

.headpad {
    padding: 0 15px;
}

.breadcrumbs {
    padding: 0 15px;
    color: #cc3333;
    font-size: 90px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.bulletlist {
    margin: 0 0 0 30px;
    list-style: disc;
}

.red {
    color: #cc3333;
}

.mag {
    color: #fff;
}

#navbar a {
    padding: 12px 20px;
}

a {
    color: #cc3333;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

.buttons {
    padding: 0 0 0 5px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #999;
}

.display {
    display: block !important;
}


.pad {
    padding: 0 15px;
}

/*=======================================================================
HOME PAGE CUSTOM STYLES
=======================================================================*/

/* ======================================================
navbar css
=======================================================*/

.navbar {
    min-height: 44px;
}

.navbar-form {
    margin: 0 0;
    padding: 0 0;
}

.navbar-nav > li > a {
    line-height: 12px;
}

.navbar li a {
    color: #fff;
}

.navbar-inverse {
    background-color: #666;
}

.navbar ul li:hover:after{
    border-bottom: 5px solid #cc3333;
    content: "";
    padding: 3px 0 0 0;
    left: 0;
    position: absolute;
    width: 100%;
}

#navbar {
    background: #666;
    width: 100%;
    z-index: 10;
    min-height: 44px;

}

/* =======================================================
search bar goodies
=========================================================*/

#searchdiv {
    margin: 0 0;
    padding: 0 5px;
}

#search {
    margin: 5px 5px;
    padding-left: 10px;
    border-radius: 25px;
}

.search-input input[type="text"] {
    padding: 5px 5px;
    margin: 5px 5px;
}


/* ========================================================
logo container
=========================================================*/

.logo {
    margin: 50px 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: auto;
}

#tagline {
    color: #000;
    position: absolute;
    top: 80px;
    left: 250px;
}

/* =====================================================
footer Stuffs
======================================================*/

footer {
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    background-color: #fff;
}

#footer span {
    position: relative;
    top: 20px;
    margin: 30px 0 0 0;
    padding: 0 0 0 30px;
}

#footer {
    position: relative;
    bottom: 0px;
    height: 40px;
    width: 100%;
    font-weight: 500;
}

#footer li {
    float: left;
    padding: 0 10px;
}


/* ==================================================================
ABOUT US STYLES
===================================================================*/

.about-container {
    min-height: 600px;
}

.about-top {
    background: #cc3333 url("img/about-us.png") no-repeat left;
    background-size: cover;
    color: #fff;
    padding: 10px 20px;
    height: 250px;
}
.about-bottom {
    margin: 0 10px 0 0;
    padding: 20px 30px;
    min-height: 350px;
    text-align: left;
}

#cert {
    padding:0 20px;
}

#about {
    padding: 30px 0;
    margin: 0 0;
    line-height: 300%;
}

.bottomexpand {
    font: 30px Helvetica,Arial,san-serif;
    position: relative;
    top: 195px;
    letter-spacing: 4px;
}

/* ========================================================================
RESIDENTIAL AND BUSINESS STYLES
=========================================================================*/

#main-container {
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 0 0 0 0;
}
#left {
    background: #fff url("img/left-side-front.png") no-repeat right;
    background-size: cover;
    margin: 0 0;
    padding: 20px 20px 0 0;
    border-right: 12px solid #fff;
    min-height: 419px;
    text-align: right;
}

#left li {
    font: 16px Helvetica,Arial,san-serif;
    padding: 5px 0 0 0;
}

#right {
    background: #fff url("img/right-side-front.png") no-repeat left;
    background-size: cover;
    margin: 0 0;
    padding: 20px 0 0 10px;
    border-left: 12px solid #fff;
    min-height: 419px;
    text-align: left;
}

#right li {
    font: 16px Helvetica,Arial,san-serif;
    padding: 5px 0 0 0;
}

#getestimate {
    padding: 10px 0;
    position: absolute;
    color: #fff;
    background-color: #cc3333;
    opacity: .85;
    z-index: 3;
    top: 75%;
    left: 44%;
    height: 40px;
    width: 150px;
    text-align: center;
}

.business-container{
    min-height: 470px;
    padding: 0 0 10px 0;
    margin: 0 20px;
    list-style: none;
}

.business-container a:hover, a:focus {
    color: #cc3333;
}

/* =================================================================
SERVICES STYLES
==================================================================*/

#service {
    margin: 0 10%;
}

.service {
    background-color: #cc3333;
    color: #fff;
    margin: 0 0 10px 0;
    width: 100%;
    height: 140px;
    position: relative;
    font: 16px bold Helvetica, Arial, san-serif;
    text-align: left;
}

.service h4 {
    margin: 0 0 0 10px;
}

.bottom-span {
    position: absolute;
    bottom: 0;
    left: 0;
}

.servicedesc {
    margin: 0 0 20px 0;
    width: auto;
    min-height: 200px;
    font: 12px Helvetica, Arial, san-serif;
}

/*====================================================================
SYSTEMS STYLES
=====================================================================*/
.syscontainer {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 425px;
}

.products {
     margin: 5px 0 25px 30px;
     padding: 0 0 0 0;
     height: 140px;
     float: left;
     background: #ccc;
     font: 14px Helvetica, Arial, san-serif;
     text-align: left;
 }

.image {
    width: auto;
    height: 75%;
    background: #999;
}

.imgdesc {
    padding: 4px;
    height: 25%;
    color: #fff;
    background-color: #cc3333;
    font-family: Helvetica, Arial, sans-serif;
}

.products p {
    margin: 0 0 10px 10px;
    vertical-align: text-bottom;
}

.products .info p, ul {
    font-size: 12px;
    margin: 5px 0;
    padding: 0 0 0 0;
    /*list-style-type: none;*/
}

/* ========================================================================
CONTACT US STYLES
==========================================================================*/

.contact-container {
    min-height: 500px;
    padding: 10px 10px;
}

.contact-form {
    width: 1000px;
}

.contactadd {
    padding: 0 0 20px 0;
}

#contact-info {
    height: auto;
    margin: 0 30px 0 0;
}

#contact-form>textarea {
    width: 600px;
    height: 100px;
}

/* ============== Descriptions Box ================*/

.description {
    width: 25%;
    margin: 0 0 20px 3px;
    padding: 0 0 0 0;
    font-family: Helvetica, Arial, sans-serif;

}

/* ============= Information Div ================ */

.infocontainer {
    display: none;
    margin: 0 0 0 0;
    padding: 10px;
    font: 12px Helvetica, Arial, sans-serif;
    background-color: rgba(255,255,255, .80);
    position: relative;
    bottom: 0px;
    left: -25%;
    z-index: 1000;
    min-height: 100%;
    width: 400px;
    border: 2px solid #000;
}

.infolist {
    margin: 0 0 0 0;
    list-style: disc;
}

#tool-tip {
    position: absolute;
    top: -25px;
    left: 30%;
}
/*========================================================
simple accordian feature
=========================================================*/

.desc {
  display: none;
  padding: 0 0 0 20px;
}

.desc:target {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 3px;
}

/* ==================================================
Accordion Example
====================================================*/
.accordion {
    width:100%;
    overflow:hidden;
    margin:2px auto;
    color:#474747;
    height: auto;
    background:#fff;
    padding: 3px;
}

.accordion section{
    float:left;
    overflow:hidden;
    color:#333;
    cursor:default;
    background: #883333;
    margin:3px;
}
.accordion section:hover {
    background:#444;
}

.accordion section p {
    display:none;
}

.accordion section:after{
    position:relative;
    font-size:32px;
    color:#000;
    font-weight:bold;
    vertical-align: text-bottom;
}

.accordion section:nth-child(1):after{ content:''; }
.accordion section:nth-child(2):after{ content:''; }
.accordion section:nth-child(3):after{ content:''; }
.accordion section:nth-child(4):after{ content:''; }
.accordion section:nth-child(5):after{ content:''; }

section .accordtop, .accordbottom {
    display: none;
}

section:target .accordtop, section:target .accordbottom {
    display: block;
}

.accordion section:target {
    background:#FFF;
    padding:5px;
}
.accordion section:target:hover {
    background:#FFF;
}
.accordion section:target h2 {
    width:100%;
}
.accordion section:target h2 a{
    color:#333;
    padding:0;
}
.accordion section:target p {
    display:block;
}
.accordion section h2 a{
    padding:2px 10px;
    display:block;
    font-size:22px;
    font-weight:normal;
    color:#eee;
    text-decoration:none;
}

.horizontal section{
    width:5%;
    min-height:700px;
    -moz-transition: width 0.5s ease-out;
    -webkit-transition:width 0.5s ease-out;
    -o-transition:width 0.5s ease-out;
    transition:width 0.5s ease-out;
}

/*Position the number of the slide*/
.horizontal section:after{
    top:140px;
    left:15px;
}

/*Header of closed slide*/
.horizontal section h2 {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width:240px;
    position:relative;
    left:-100px;
    top:85px;
}
/*On mouse over open slide*/
.horizontal :target{
    width:73%;
    height:230px;
}
.horizontal :target h2{
    top:0px;
    left:0;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*====================================================
accordion inner div
====================================================*/

.accordtop {
    background: #883333 url('img/business-solutions.png') no-repeat;
    background-size:cover;
    color: #fff;
    min-height: 317px;
    font-size: 48px;
    position: relative;
    bottom: 0px;
    left: 10px;
}

.accordbottom {
   height: 400px;
}







/*=========================================================
MEDIA QUERIES
==========================================================*/

@media only screen and (max-width: 750px) {

    #searchdiv {
        display:none;
    }


    #left {
        background-image: none;
        border: 1px solid #000;
        margin: 5px 0;
        padding: 15px 0;
        min-height: 200px;
        width: 100%;
        text-align: center;
    }

    #right {
        background-image: none;
        border: 1px solid #000;
        margin: 5px 0;
        padding: 10px 0;
        min-height: 200px;
        width: 100%;
        text-align: center;
    }
    #getestimate {
        padding: 15px 0;
        position: absolute;
        background-color: #883333;
        z-index: 9999;
        top: 55%;
        left: 32%;
        height: 50px;
        width: 150px;
        text-align: center;
    }
    #footer {
        height: 100px;
        width: 100%;
        font-weight: 500;
        overflow: hidden;
    }

    #footer span {
        position: relative;
        top: 0px;
        margin: 30px 0 0 0;
        padding: 0 0 0 0;
    }
    
    .navbar-form {
        padding: 0 0 5px 20px;
        width: 50%;
    }
    #navbar a {
        display: block;
        width: 100%;
        text-align: center;
    }

    /*=========================== systems media queries ======================
    ========================================================================*/

    .description {
        width: 100%;
        margin: 0 0 20px 3px;
        padding: 0 0 0 0;
        font-family: Tahoma,Arial,san-serif;

    }

    #tagline {
        display:none;
    }

    .infocontainer {
        display: none;
        /*margin: 0 0 0 0;
        padding: 0 0 0 0;*/
        background-color: rgba(255,255,255, .85);
        position: relative;
        bottom: 0px;
        left: 25px;
        z-index: 1000;
        min-height: 100%;
        width: 90%;
        border: 2px solid #000;
    }

    .products {
        margin: 0 0 20px 0;
    }
}



/* ==================================================
ACCORDION CODE
===================================================*/

.topimage {
    height: 250px;
    width: 100%;
    background: #ccc;
    background-size: cover;
    border: 1px solid #000;
}

.accordDesc {
    font: 14px Helvetica, Arial, san-serif;
    height: 100%;
    margin: 50px 0 0 50px;
}

.servList {
    list-style: none;
    font: 14px Helvetica, Arial, san-serif;
    margin: 50px 0 0 10px;
}

.servList li {
    margin: 5px 0 0 15px;
    font: 14px Helvetica, Arial, san-serif;
}

.red {
    color: #cc3333;
}

.listMargin {
    margin: 0 0 0 25px;
}
